@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/*pseud DECLARADO*/

:root{
    --cor-primaria:#000000;
    --cor-secundaria:#f6f6f6;
    --cor-terciaria:#22D4FD;
    --cor-hover:#272727;
    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
}

/*infos gerais*/

*{
    margin: 0;
    padding: 0;
    
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}


.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 70px;
}
.header__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.presentation{
    padding: 5% 15%;
    display: flex;
    gap: 82px;
    align-items: center;
    justify-content: space-between;
}


/*infos do conteúdo*/


.presentation__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title{
    font-size: 1.2rem;
    font-family: var(--fonte-primaria);
}

.feature-title{
    color: var(--cor-terciaria);
}

.presentation__content__text{
    font-size: 1rem;
    font-family: var(--fonte-secundaria);

}

/*infos do botão*/
.presentation__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentation__links__subtitle{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.2rem;
}
.presentation__links__link {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 17px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.presentation__links__link:hover{
    background-color: var(--cor-hover);
}
/*infos da imagem*/

.presentation__content__image{
    display: flex;
    justify-content: center;
} 

.presentation__image{
    width: 90%;
    border: 5px solid var(--cor-terciaria);
    border-radius: 50%;
} 

/* rodapé */

.footer{
    padding: 15px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    width: 100%;
   

}

@media (max-width:1250px) {

    .header {
        padding: 8%;
    }
    .header__menu{
    justify-content: center;
}
    .presentation{
        flex-direction: column-reverse;
        padding: 5%;

    }

    .presentation__content {
        width: auto;
    }
}

