@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/*pseud DECLARADO*/

:root{
    --cor-primaria:#000000;
    --cor-secundaria:#f6f6f6;
    --cor-terciaria:#22D4FD;
    --cor-hover:#272727;
    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
}

/*infos gerais*/
*{
    margin: 0;
    padding: 0;
    
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}


.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.presentation{
    padding: 5% 15%;
    display: flex;
    gap: 82px;
    align-items: center;
    justify-content: space-between;
}
/*infos do conteúdo*/


.presentation__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.feature-title{
    color: var(--cor-terciaria);
}

.presentation__content__text{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);

}
/*infos do botão*/
.presentation__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentation__links__subtitle{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.presentation__links__link {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.presentation__links__link:hover{
    background-color: var(--cor-hover);
}
/*infos da imagem*/

.presentation__content__image{
    width: 50%;
} 

.presentation__image{
    width: 100%;
    border: 5px solid #22D4FD;
} 
/* rodapé */

.footer{
    padding: 20px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width:1200px) {

    .header {
        padding: 10%;
    }
    .header__menu{
    justify-content: center;
}
    .presentation{
        flex-direction: column-reverse;
        padding: 5%;

    }

    .presentation__content {
        width: auto;
    }
}

